:root {
    --white: #ffffff;
    --bgColor: #121212;
}

body {
    text-align: center;
    background-color: var(--bgColor);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

#logo {
    max-width: 100%;
    height: auto;
}

#videoContainer {
    padding: 8px;
}

#videoContainer canvas {
    display: block;
    max-width: 600px;
    max-height: 400px;
    box-shadow: -50px -50px 0 -40px var(--white), 50px 50px 0 -40px var(--white);
}

#controlPanel {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#controlPanel input, #controlPanel label, #counter {
    margin: 5px;
    padding: 5px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#counter {
    display: inline-block;
    padding: 10px;
}

.button-31 {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 30px;
    min-width: 80px;
    outline: none;
    overflow: hidden;
    padding: 6px 15px 6px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button-31:hover,
.button-31:focus {
    opacity: .75;
}

.container {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.icon {
    padding: 10px;
    animation: icon3d 200ms 10;
    color: var(--white);
    font-size: 2em;
}

.icon:hover {
    animation: icon3d 200ms infinite;
}

@keyframes icon3d {
    0% { text-shadow: 5px 4px rgba(244,67,54,1), -5px -6px rgba(33,150,243,1); }
    25% { text-shadow: -5px -6px rgba(244,67,54,1), 5px 4px rgba(33,150,243,1); }
    50% { text-shadow: 5px -4px rgba(244,67,54,1), -8px 4px rgba(33,150,243,1); }
    75% { text-shadow: -8px -4px rgba(244,67,54,1), -5px -4px rgba(33,150,243,1); }
    100% { text-shadow: -5px 0 rgba(244,67,54,1), 5px -4px rgba(33,150,243,1); }
}